.fedbUl{
    display: flex;
align-items: center;
justify-content: center;
gap: 15px;
}

.febdButton{
    display: inline-block;
font-size: large;
color: color-mix(in srgb-linear, red 60%, blue 40%);
padding: 0.3em 1em;
border: 1px solid black;
border-radius: 10px;
background: violet 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
cursor: pointer;
}